### Week 7 Class Two In Class IP Fixed Costs Gambling Model

## 1. Problem Statement

There are four exclusive gambling clubs that you frequent, each having different entry fees (dinner and drinks included), buy-in amounts (cost per hand), and max winning that a player can take in a given night.  As a professional, you know from experience what your average “take” (revenue) per hand will be at each club.  Also, in order to maximize your exposure to different play styles, you plan to limit yourself to a max of 20 hands at a given club.  The relevant data is shown.

                        Heart Hall  Club Club   Diamond Den  Spade Shack
Entry Fee               $200        $300        $250         $150
Avg winnings per hand   $60         $75         $50          $60
Cost to play one hand   $15         $50         $25          $15
Max winnings            $1,000      $750        $1,000       $750
Max hands               20          20          20           20

## 2. Data

In [1]:
import pandas as pd
import pyomo.environ as pe
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown(string))

Read in the data from the in class examples from last class.

In [3]:
# Read in the data first. 
raw_data = pd.read_excel('w07-c02-linking-cons-in-class.xlsx', sheet_name = 'Gambling')
raw_data

,Unnamed: 0,Heart Hall,Club Club,Diamond Den,Spade Shack,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Entry Fee,200,300,250,150,NaN,NaN,NaN
1,Avg winnings per hand,60,75,50,60,NaN,NaN,NaN
2,Cost to play one hand,15,50,25,15,NaN,NaN,NaN
3,Max winnings,1000,750,1000,750,NaN,NaN,NaN
4,Max hands,20,20,20,20,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Objective: maximize profit,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Estimated winnings revenue,NaN,NaN,NaN,NaN,0.0,NaN,NaN
8,Fixed Cost,NaN,NaN,NaN,NaN,0.0,NaN,NaN
9,Variable Cost,NaN,NaN,NaN,NaN,0.0,NaN,NaN
10,NaN,NaN,NaN,NaN,Profit,0.0,NaN,NaN
11,Eq/InEq,<=,<=,<=,<=,NaN,NaN,NaN
12,Max Winnings Revenue,1000,750,1000,750,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Decision Variables: # hands,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Utilized?,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Heart Hall,Club Club,Diamond Den,Spade Shack,NaN,Eq/InEq,Max * y(0/1)
19,Fixed cost constraint HH,1,0,0,0,0.0,<=,NaN
20,Fixed cost constraint CC,0,1,0,0,0.0,<=,NaN
21,Fixed cost constraint DD,0,0,1,0,0.0,<=,NaN
22,Fixed cost constraint SS,0,0,0,1,0.0,<=,NaN

Create a coef DataFrame for the entry fee, avg winnings per hand and cost to play a hand. The columns should be the 4 DVs (locations). View the DataFrame.

In [4]:
DV_indexes = ['HH', 'CC', 'DD', 'SS']
coef = raw_data.iloc[[0, 1, 2], [1, 2, 3, 4]]
coef.index = ['fee', 'avg_win_hand', 'cost_hand']
coef.columns = DV_indexes
coef

               HH   CC   DD   SS
fee           200  300  250  150
avg_win_hand   60   75   50   60
cost_hand      15   50   25   15

Create a max dataframe with columns for each DV and rows for 'max_win' and 'max_hands'. View the DataFrame.

In [5]:
max = raw_data.iloc[[3, 4],[1, 2, 3, 4]]
max.index = ['max_win', 'max_hands']
max.columns = DV_indexes
max

             HH   CC    DD   SS
max_win    1000  750  1000  750
max_hands    20   20    20   20

## 3. Model Definition

In [6]:
model = pe.ConcreteModel()

### Define Decision Variables

Create an `x` DV with indexes for each location and also a Fixed Cost `y` DV with indexes for each location.

### Define Objective function

In [8]:
#maximize profit = revenue - fixed cost - variable cost

### Define Constraints

In [9]:
# Constraints
#Revenue max winnings

#Linking Fixed Cost based on max hands

## 4. Model Solution

In [10]:
opt = pe.SolverFactory('glpk')

Ok, so we now have our **tactical information**. We know the solution:

### Optimal Objective Value

### Optimal Decision Variables

## 5. Sensitivity Analysis - BONUS

Now, let's try to get some strategic information to see what else we can learn about this model.

The above model is based on current conditions, but we are wondering how the maximum profit and choice of locations to play at will be affected by some changes in assumptions. Let's say that we want to test the sensitivity of this model based on 2 different items:
* Change the max hands to be 15, 20, 25 and 30
* Change the max winnings for each location by 100, 200, 300 and 400
* Try all the interactions of all these changes!

### Create a function that runs the model

Copy all the above model creation code without any thing "extraneous" and put it in the function `def run_model()`. At the end use `return model`. Make sure all the code is indented the same under the `def` line.

In [16]:
#def run_model():

Capture the original `max` table so we can reset the model each time. Note if we are going to change the values, rather than use a reference we want to use the `.copy()` function so that it will make a hard copy and not just a soft copy and remove references to the original dataframe.

In [11]:
max_orig = max.copy()
max_orig

             HH   CC    DD   SS
max_win    1000  750  1000  750
max_hands    20   20    20   20

Create a DataFrame to hold the results

### 5.1 Change max hands and see affects

We don't really care about the y Utilization DV, so just display the # hands for each location and the optimal profit.

### 5.2 Change the max winnings and see the results

Now change the max revenues

### 5.3 Change both the max winnings and max hands for all combinations

### Export Notebook As an HTML file to submit on canvas.