# Week 8 Class 2: IP Logical Constraints - In Class Fixed Cost Planes

# Table of Contents<a id="Top"></a>

1. [Problem Statement](#1)<br>
2. [Data](#2) <br>
3. [Model Definition](#3)<br>
4. [Model Solution](#4)<br>
5. [Redo Model with new constraints](#5)<br>

## 1. Problem Statement<a id = 1></a>

Here we will solve the problem where we need to determine how many of each plane to produce. Each plane has a setup cost and our goal is to maximize our project.

##### [Back to Top](#Top)

## 2. Data<a id = 2></a>

The data are the sheet Planes tab in w08-c02-planes.xlsx.

In [2]:
import pandas as pd
import pyomo.environ as pe
import matplotlib.pyplot as plt

In [3]:
raw_data = pd.read_excel('w08-c02-planes.xlsx', sheet_name = 'Planes')
raw_data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Part One
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Rocket,Meteor,Streak,Comet,Jet,Biplane,Available,NaN,NaN
2,Steel,1,4,0,4,2,1,800,NaN,NaN
3,Copper,4,5,3,0,1,0,1160,NaN,NaN
4,Plastic,0,3,8,0,1,0,1780,NaN,NaN
5,Rubber,2,0,1,2,1,5,1050,NaN,NaN
6,Glass,2,4,2,2,2,4,1360,NaN,NaN
7,Paint,1,4,1,4,3,4,1240,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Profit,30,45,24,26,24,30,NaN,NaN,NaN
10,Setup,35,20,60,70,75,30,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"This problem has no ""built in"" max demand for ..."
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,What is a legitimate max we might produce?
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SAVE before running Solver.
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Solve first with DV quantities NOT integers.
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Make a copy and solve AS integers. You may hav...
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,If so - try making integer optimality have a l...
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,under Solver Options - can you get to the opti...
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,if not - try reducing the error - note pyomo w...
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Part Two:
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Suppose that we must pick the Meteor or Comet ...
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Suppose also that Rocket must be >= 100 or Bip...

First we will capture the coefficients which will the the profit per each plane produced, the setup fixed cost, and the units of each mataerial needed for each plane type.

In [4]:
DV_indexes = ['Rocket', 'Meteor', 'Streak', 'Comet', 'Jet', 'Biplane']
coef = pd.DataFrame(raw_data.iloc[[9, 10, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6]])
coef.index = ['profit', 'Fixed Setup', 'Steel', 'Copper', 'Plastic', 'Rubber', 'Glass', 'Paint']
coef.columns = DV_indexes
coef

            Rocket Meteor Streak Comet Jet Biplane
profit          30     45     24    26  24      30
Fixed Setup     35     20     60    70  75      30
Steel            1      4      0     4   2       1
Copper           4      5      3     0   1       0
Plastic          0      3      8     0   1       0
Rubber           2      0      1     2   1       5
Glass            2      4      2     2   2       4
Paint            1      4      1     4   3       4

The next tables will give us our max values for our constraints - we have units capacity for each raw material.

In [5]:
hours = pd.DataFrame(raw_data.iloc[2:8, 7])
hours.columns = ['units']
hours.index = coef.index[2:]
hours

        units
Steel     800
Copper   1160
Plastic  1780
Rubber   1050
Glass    1360
Paint    1240

##### [Back to Top](#Top)

## 3. Model Definition<a id = 3></a>

Now let's solve the model.

In [5]:
model = pe.ConcreteModel()

### Define Decision Variables

__NOTE:__ for this model you have 2 sets of changing cells that you want the solver to determine - the `x`plane quantities and the `y` values which are binary utilization variables we will used to create the fixed setup cost linking constraints. Let's make the `x` values `NonNegativeIntegers` since we can't make a fraction of a plane.

### Define objective function

Note that this will be the total profit which is calculated from the fixed price and variable setup costs. Make sure you see how these are calculated in the Excel sheet before you try to implement here.

### Define Constraints

##### [Back to Top](#Top)

## 4. Model Solution<a id = 4></a>

### Optimal Objective Value

### Optimal Decision Variables

We don't really care as much about the y variables - but you should do a quick error check to make sure that if you product 0 units for the product family, that y is 0.

##### [Back to Top](#Top)

## 5. Redo the model with the Logical and Disjunctive Constraints<a id=5></a>

Now we want to add the new constraints:
* Suppose that we must pick the Meteor or Comet in our production.
* Suppose also that Rocket must be > 100 or Biplane must be > 100

### New Optimal Objective Value

### New Optimal Decision Variables

##### [Back to Top](#Top)